@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;

  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 15%);
  --muted: hsl(240 10% 98%);
  --muted-foreground: hsl(240 6% 45%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 15%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 15%);
  --border: hsl(240 6% 90%);
  --input: hsl(240 6% 90%);
  --primary: hsl(44 100% 71%);
  --primary-foreground: hsl(44 100% 11%);
  --secondary: hsl(240 6% 96%);
  --secondary-foreground: hsl(240 6% 35%);
  --accent: hsl(240 6% 96%);
  --accent-foreground: hsl(240 6% 35%);
  --destructive: hsl(10 90% 57%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(44 100% 50%);

  --chart-1: hsl(44 100% 50%);
  --chart-2: hsl(240 6% 96%);
  --chart-3: hsl(240 6% 96%);
  --chart-4: hsl(240 6% 98%);
  --chart-5: hsl(44 103% 50%);

  --sidebar: hsl(240 10% 98%);
  --sidebar-foreground: hsl(240 10% 15%);
  --sidebar-primary: hsl(240 10% 95%);
  --sidebar-primary-foreground: hsl(240 10% 15%);
  --sidebar-accent: hsl(240 10% 92%);
  --sidebar-accent-foreground: hsl(240 10% 15%);
  --sidebar-border: hsl(240 6% 90%);
  --sidebar-ring: hsl(44 100% 50%);
}

.dark {
  --background: hsl(233 18% 19%);
  --foreground: hsl(173 24% 93%);
  --muted: hsl(233 12% 23%);
  --muted-foreground: hsl(233 12% 73%);
  --popover: hsl(233 18% 16%);
  --popover-foreground: hsl(0 0% 100%);
  --card: hsl(233 18% 17%);
  --card-foreground: hsl(173 24% 98%);
  --border: hsl(233 8% 24%);
  --input: hsl(233 8% 27%);
  --primary: hsl(44 100% 71%);
  --primary-foreground: hsl(44 100% 11%);
  --secondary: hsl(44 30% 25%);
  --secondary-foreground: hsl(44 30% 85%);
  --accent: hsl(233 18% 34%);
  --accent-foreground: hsl(233 18% 94%);
  --destructive: hsl(10 90% 57%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(44 100% 71%);

  --chart-1: hsl(44 100% 71%);
  --chart-2: hsl(44 30% 25%);
  --chart-3: hsl(233 18% 34%);
  --chart-4: hsl(44 30% 28%);
  --chart-5: hsl(44 103% 71%);

  --sidebar: hsl(233 18% 16%);
  --sidebar-foreground: hsl(173 24% 93%);
  --sidebar-primary: hsl(233 18% 19%);
  --sidebar-primary-foreground: hsl(173 24% 93%);
  --sidebar-accent: hsl(233 18% 19%);
  --sidebar-accent-foreground: hsl(173 24% 93%);
  --sidebar-border: hsl(233 8% 24%);
  --sidebar-ring: hsl(44 100% 71%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
